<!DOCTYPE html>
<html>
 <head>
  <title>FaceSpace</title>
  </head>
  <body>
   

    <%= yield %>
    <%= link_to(image_tag("marilyn-david-hansen.jpg"), root_url) %>
    <p>
      Your Friends, </br>
      The Facespace Team
    </p>
    <p>Sent by Dave</p>
  </body>
  </html>